<br />
<div class="container">
  <table class="table table-striped" id="listaDeContatos">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Id</th>
        <th>Descrição</th>
        <th>Status</th>
      </tr>
    </thead>

    <tr *ngFor="let c of contatos" scope="row" class="testelm">
      <td>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="{{c.id}}">
          <label class="custom-control-label" for="{{c.id}}"></label>
        </div>
      </td>
      <td>{{ c.id }}</td>
      <td>{{ c.descricao }}</td>
      <td>{{ c.status }}</td>
    </tr>
  </table>
</div>
<br />

<div class="text-right">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a routerLink="/mozaiko"><button type="button" class="btn btn-secondary">Voltar</button></a>
    <button type="button" class="btn btn-primary" (click)="addItem()">Adicionar item</button>
  </div>
</div>